body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #55455a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  background-color: #e6e6d3;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px 20px;
}

h2 {
  text-align: center;
}

div > p {
  text-align: left;
}

p {
  text-align: center;
}


.portfolio-item {
  width: calc(33.33% - 20px); /* Set width for each item to occupy one-third of the container */
  margin: 20px;
  padding: 20px; /* Add padding for content inside each item */
  background-color: #c5c5c5; /* Set a background color for the items */
  border-radius: 8px; /* Add rounded corners for a card-like appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  display: inline-block; /* Display items inline */
  vertical-align: top; /* Align items to the top of their container */
  height: 200px;
}

.single-card {
  width: 40%; /* Set width for each item to occupy one-third of the container */
  margin: 20px;
  padding: 20px; /* Add padding for content inside each item */
  background-color: #c5c5c5; /* Set a background color for the items */
  border-radius: 8px; /* Add rounded corners for a card-like appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  display: inline-block; /* Display items inline */
  vertical-align: top; /* Align items to the top of their container */
  height: 200px;
}

.center{
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center the contents horizontally */
}

.overlay-card {
  display: flex;
  align-items: center; /* Center items vertically */
}

.overlay-card img {
  max-width: 50%; /* Adjust the max-width of the image */
}

.overlay-card p {
  flex: 1; /* Allow the paragraph to grow and shrink as needed */
  padding: 0 20px; /* Add padding to the paragraph */
}

.link-button {
  display: inline-block;
  padding: 5px 5px 3px 5px;
  border-radius: 100%;
  background-color: white;
}

.link-button:hover {
  background-color: #dedede;
}
